* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #F2F2F2;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: white;
}

.header_container {
    max-width: 95%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.burger_header {
    width: 20px;
    height: 44px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
}

.button_burger {
    width: 20px;
    height: 3px;
    background-color: #1F2022;
    border-radius: 2px;
}

.button_burger::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #1F2022;
    border-radius: 2px;
    margin-top: -6px;
}

.button_burger::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #1F2022;
    border-radius: 2px;
    margin-top: 6px;
}

.header_img_logo {
    width: 115px;
    height: 44px;
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.header_input_search {
    display: flex;
    flex: 1;
    margin-right: 500px;
    
}

.input_search {
    width: 100%;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #30384C;
    border-radius: 40px 0 0 40px;
    padding-left: 15px;
    padding-right: 0;
    border: solid 0.5px;
}

.input_search_button {
    border-radius: 0 40px 40px 0;
    background-color: white;
    display: flex;
    align-items: center;
    padding-right: 12px;
    border: solid 0.5px;
    cursor: pointer;
    border-left: none;
    padding-top: 8px;
}

.clear_search_button {
    display: none;
    border: solid 0.5px;
    border-left: none;
    cursor: pointer;
    font-size: 25px;
}

.clear_search_button.is-open {
    display: block;
}

.clear_search_button:hover {
    opacity: 0.5;
}

.close_input {
    display: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 22px;
}

.icon-search {
    fill: #1F2022;
    width: 22px;
    height: 22px;
    opacity: 0.7;
}

.input_search_button:hover {
    opacity: 0.5;
}

.form_input {
    display: flex;
    width: 100%;
}

.header_user_button {
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.user_button {
    border: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    padding: 0;
    cursor: pointer;
}

.user_button:not(:last-child) {
    margin-right: 30px;
}

.button_ring {
    position: relative;
}

.button_ring::after {
    content: '3';
    position: absolute;
    width: 18px;
    height: 18px;
    background: #FF0000;
    border-radius: 50%;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    left: 12px;
    top: -3px;
}

.header_user_avatar {
    width: 40px;
    height: 40px;
}

/* SIDE PANEL */  

.mobile_side_bar {
    display: none; 
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    background-color: #F2F2F2;
    border-top: 1px solid  #F1F1F1;
} 

.content_mobile_side_bar {
    margin: auto;
    display: flex;
}

.button_mobile_side_bar {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button_mobile_side_bar:not(:last-child) {
    margin-right: 50px;
}

.icon-mobile_side_bar {
    fill: #898989;
    width: 19px;
    height: 19px;
}

.text_button_mobile_side_bar {
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #898989;
}

.button_mobile_side_bar:active>.text_button_mobile_side_bar {
    color: #FF0000;
}

.button_mobile_side_bar:active>.icon-mobile_side_bar {
    fill: #FF0000;
}

.main_container {
    max-width: 95%;
    margin: auto;
    margin-top: 40px;
    padding-left: 223px;
}

.container_block {
    display: flex;
    margin-top: 100px;
}

.icon_side_panel {
    fill: #898989;
    width: 19px;
    height: 19px;
    margin-right: 10px;
}

.main_nav_menu {
    display: flex;
    flex-direction: column  ;
    max-width: 177px;
    position: fixed;
    height: calc(100% - 120px);
    overflow-y: auto;
    margin-left: 47px;  
}

.user_revomen_menu {
    max-width: 135px;
}

.nav_menu {
    margin-bottom: 50px;
}

.ul_menu {
    list-style: none;
    padding: 0;
}

.text_li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
}

.li_menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.li_menu:hover>.icon_side_panel {
    fill: #FF0000;
}

.li_menu:hover>.text_li {
    color: #FF0000; 
}

.li_menu:not(:last-child) {
    margin-bottom: 15px;
}

.subscr_menu {
    width: 160px;
}

.img_user_subsc {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 10px;
}

.side_menu {
    margin-bottom: 50px;
}

.title_subsc_menu {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 30px;
}

.subsc_ul_menu {
    list-style: none;
    padding: 0;
}

.subsc_li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.subsc_li:not(:last-child) {
    margin-bottom: 20px;
}

.subsc_li:hover>.text_li {
    color: #FF0000;
}

.icon_setting {
    width: 20px;
    height: 20px;
}

.button_setting {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.button_setting:hover>.text_li {
    color: #FF0000;
}

.button_setting:hover>.icon_side_panel {
    fill: #FF0000;
}

/* MAIN CONTAINER */

.contant_container {
    max-width: 100%;
}

.user_recomen_video {
    width: 100%;
}

.recomen_food {
    width: 100%;
    margin-bottom: 50px;
}

.header_user_recomen_video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.img_header_recomen {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.header_contant_user {
    display: flex;
    align-items: center;
}

.contant_button_swipper {
    display: flex;
    align-items: center;
}

.button_swipper {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: #898989;
    opacity: 0.44;
    cursor: pointer;
}

.icon-swipper {
    fill: #F2F2F2;
    width: 16px;
    height: 12px;
}

.button_swipper:not(:last-child) {
    margin-right: 10px;
}

.title_header_recomen {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    margin-right: 20px;
}

.card_video {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin-bottom: 40px;
}

.container_user_video_recomen {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container_user_video_music {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contant_img_video {
    position: relative;
}

.text_time_video {
    position: absolute;
    bottom: 10px;
    right: 10px;  
    background-color: #898989;
    width: 50px;
    height: 25px;
    border-radius: 12px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.title_video {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
    margin: 4px 0;
}

.video_time_about_text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.video_time_about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view::after {
    content: '';
    height: 3px;
    width: 3px;
    background-color: #C2C2C2;
    border-radius: 50%;
    margin: 0px 4px;
    display: inline-block;
    vertical-align: middle;
}

.img_video {
    border-radius: 8px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.swiper-slide {
    max-width: 100%;
}

/* RECOMEN VIDEO */

.title_recomen_all_user {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
}

.header_recomen_all_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cardBig {
    max-width: 100%;
    flex-basis: 30%;
}

.img_recomen_all_user {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.card_img {
    position: relative;
}

.text_about_recomen_all_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video_recomen_all_user_time_about {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
}

.author_video_recomen_all_user {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
}

.recomen_video_all_user {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.video_recomen_all_user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 50px;
}

.food_recomen_video {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
}

.subcribe {
    background: #FF0000;
    border-radius: 20px;
    border: none;
    height: 40px;
    margin-right: 20px;
}

.view_recomen_all_user:after {
    content: '';
    width: 3px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 4px;
    background-color: #C2C2C2;
    border-radius: 50%;
}

.text_subscribe {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 15px 20px;
}

/* MEDIA */

@media(max-width: 1650px) {
    .header_input_search {
        margin-right: 300px;
    }
}

@media(max-width: 1450px) {
    .header_input_search {
        margin-right: 200px;
    }
}

@media(max-width: 1060px) {
    .header_input_search {
        margin-right: 50px;
    }

    .food_recomen_video {
        display: none;
    }
}

@media(max-width: 900px) {
    .header_user_button {
        display: none;
    }

    .header_input_search {
        margin-right: 100px;
    }

    .burger_header {
        display: none;
    }

    .main_nav_menu {
        display: none;
    }

    .main_container {
        padding-left: 0; 
    }

    .mobile_side_bar {
        display: flex;
    }
}

@media (max-width: 800px) {
    .card_video {
        flex-basis: 47%;
    }
}

@media (max-width: 650px) {
    .input_search {
        display: none;
    }

    .form_input {
        flex: 0.1;
        justify-content: end;
    }

    .header_input_search {
        margin-right: 0; 
    }

    .header_input_search {
        justify-content: end;
    }

    .header_user_avatar {
        margin-left: 25px;
    }

    .input_search_button {
        border: none;
    }

    .icon-search {
        width: 25px;
        height: 25px;
        opacity: 1;
    }

    .title_header_recomen {
        font-size: 20px;
        line-height: 25px;
        margin-right: 0;
    }

    .text_subscribe {
        font-size: 14px;
        line-height: 15px;
        padding: 15px 15px;
    }

    .subcribe {
        border-radius: 15px;
        height: 35px;
    }

    .title_video {
        font-size: 14px;
        line-height: 15px;
    }

    .video_time_about_text {
        font-size: 10px;
        line-height: 15px;
    }

    .title_recomen_all_user {
        font-size: 20px;
        line-height: 25px;
    }

    .text_time_video {
        width: 40px;
        height: 20px;
        border-radius: 10px;
        font-size: 10px;
        line-height: 15px;
    }

    .button_swipper {
        width: 25px;
        height: 25px;
        opacity: 1; 
    }

    .card_video {
        width: 85%;
    }

    .container_user_video_recomen, .recomen_video_all_user   {
        flex-direction: column;
        align-items: center;
    }

    .contant_button_swipper, .contant_button_swipper {
        display: none;
    }

    .card_video:not(:last-child), .cardBig:not(:last-child)  {
        margin-bottom: 40px;
    }

    .clear_search_button {
        border: none;
        background-color: #fff;
    }

    .clear_search_button:hover {
        opacity: 1;
    }

    .input_search_button:hover {
        opacity: 1;
    }
}

@media(max-width: 450px) {
    .button_mobile_side_bar:not(:last-child) {
        margin-right: 35px;
    }

    .cardBig {
        width: 85%;
    }
}

@media (max-width: 370px) {
    .header_user_avatar {
        margin-left: 15px;
    }

    .button_mobile_side_bar:not(:last-child) {
        margin-right: 15px;
    }
}